@charset "UTF-8";

* {
      margin: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
}

body {
      height: 100vh;
      width: 100vw;
      background-image: url(../imagens/fundo-madeira.jpg);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

}

main {
      position: relative;
      /*background-color: aqua;*/
      height: 100vh;
}

#telefone {
      position: absolute;
      background-image: url(../imagens/frame-iphone.png);
      background-repeat: no-repeat;
      /*background-color: black;*/
      height: 626px;
      width: 310px;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
}

#frame {
      position: relative;
      top:80px;
      left: 23px;
      width: 266px;
      height: 469px;

}