
* {
      margin: 0px;
      padding: 0px;
}

body {
      height: 100vh;
      width: 100vw;
      background-color: black;
}

#telefone {
      position: absolute;
      height: 400px;
      width: 400px;
      background-color: aqua;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

}

